@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 196 49% 32%;
    --foreground: 0 0% 95%;
    --card: 196 49% 27%;
    --card-foreground: 0 0% 95%;
    --popover: 196 49% 27%;
    --popover-foreground: 0 0% 95%;
    --primary: 168 34% 60%;
    --primary-foreground: 0 0% 95%;
    --secondary: 206 33% 85%;
    --secondary-foreground: 206 30% 25%;
    --muted: 196 49% 42%;
    --muted-foreground: 0 0% 80%;
    --accent: 0 0% 95%;
    --accent-foreground: 0 0% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 196 49% 42%;
    --input: 196 49% 42%;
    --ring: 168 34% 60%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 196 49% 32%;
    --foreground: 0 0% 95%;
    --card: 196 49% 27%;
    --card-foreground: 0 0% 95%;
    --popover: 196 49% 27%;
    --popover-foreground: 0 0% 95%;
    --primary: 168 34% 60%;
    --primary-foreground: 0 0% 95%;
    --secondary: 206 33% 75%;
    --secondary-foreground: 206 30% 15%;
    --muted: 196 49% 42%;
    --muted-foreground: 0 0% 70%;
    --accent: 0 0% 95%;
    --accent-foreground: 0 0% 20%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 196 49% 42%;
    --input: 196 49% 42%;
    --ring: 168 34% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* NProgress styles */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: hsl(var(--primary));
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px hsl(var(--primary)), 0 0 5px hsl(var(--primary));
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}
